* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    width: 100%;
}

button {
    cursor: pointer;
}

/*header*/
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    width: 80%;
    background-color: rgb(14, 13, 13);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    position: fixed;
    top: 2%;
    border-radius: 5px;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    color: gray;
    text-decoration: none;
    padding: 1% 50%;
}

header nav ul li a:hover {
    color: #212121;
}

nav button {
    padding: 1% 3%;
    font-weight: bolder;
    border-radius: 5px;
    background-color: white;
}

/*main section*/
main {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Header Content*/
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color: white;
}

.header-content span {
    color: rgb(170, 5, 101);
    font-weight: bolder;
}

.header-content button {
    padding: 1% 2%;
    font-weight: bolder;
    color: white;
    background: linear-gradient(to right, rgb(92, 3, 92), rgb(151, 18, 80));
    border-radius: 5px;
    border: 0px;
}

/*Cards*/
.header-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.header-section .one {
    width: 40%;
    height: 30vh;
    background-color: rgb(65, 27, 68);
    border-radius: 10px;
}

.header-section .one header {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #212121;
    border-radius: 10px 10px 0 0;
}

.one header figure img {
    height: 10vh;
    width: 5vw;
}

.text h1 {
    color: white;
}

.text h4 {
    color: rgb(170, 5, 101);
}

.one footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

.one footer :nth-child(1) {
    padding: 2% 7%;
    border-radius: 100px;
    font-weight: bolder;
    color: white;
    background: linear-gradient(to right, rgb(92, 3, 92), rgb(151, 18, 80));
    border: 0px;
}

.one footer :nth-child(2) {
    padding: 2% 7%;
    border-radius: 100px;
    font-weight: bolder;
    color: white;
    background: green;
    border: 0px;
}

.header-section :nth-child(3) {
    width: 85%;
    margin-top: 5%;
}

.one .last-footer {
    padding: 2% 5%;
    flex-direction: row-reverse;
}

/*Footer*/
footer {
    color: gray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*mobile screens*/
@media only screen and (max-width:768px) {

    header nav {
        width: 90%;
        top: 2%;
    }

    nav button {
        padding: 2% 3%;
    }

    .header-section {
        flex-direction: column;
    }

    .header-section .one {
        width: 90%;
    }

    .header-section :nth-child(2) {
        margin: 5% 0px;
    }

    .one header figure img {
        height: 10vh;
        width: 15vw;
    }
}